# Public domain used by nginx
# DOMAIN must match the nginx server_name
DOMAIN=grafana.example.com

# Pin these before production
GRAFANA_VERSION=latest
PROMETHEUS_VERSION=latest

# Grafana admin user
GRAFANA_ADMIN_USER=admin

# Comma-separated list. Pin plugin versions if you want strict reproducibility.
GRAFANA_PLUGINS=grafana-exploretraces-app,grafana-lokiexplore-app,grafana-metricsdrilldown-app,grafana-pyroscope-app
